body {
  background-color: #000;
  color: #00FF00;
  margin: 0;
  padding: 0;
}

body::after {
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
  z-index: 10;
}

a {
  color: #00FF00;
}

a:hover {
  background-color: #00FF00;
  color: #000;
}